header
{
    background: #23746C;
    padding-top: 58px;
    margin: 0;
    background-size: cover;
    width:100vw;
    display: inline-block;
}
body
{ 
 font-family: 'Montserrat', sans-serif;
 margin: 0;
 padding: 0;
 widows: 1600px;
 height:2900px;
}
.container
{
    width:1170px;
    margin:0 auto;
}
.logo
{
    width:51px;
    height: 51px;
    margin-right:37px;
    float:left;
   
}
nav ul
{
    margin-left:3px;
    display: inline;
}
nav ul li
{   margin-left: 220px;
    display: inline;
}
nav p
{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a
{
    color:#ffffff;
    text-decoration: none;
}
.moto
{
    width:734px;
}
#statement
{
    width:734px;
    height:134px;
    font-size: 55px;
    font-weight: bold;
    padding: 0;
    margin:0;
    padding-top: 100px;
    color: #fff;
    float:left;
    
}
#explanation
{
    margin: 0;
    padding: 0;
    margin-top:75px;  
    font-size: 26px;
    line-height: 1.5;
    width:640;
    height:92px;
    color: #fff;
    float:left;
}
#button
{
    float:left;
    font-size:26px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 85px;
    padding-right: 85px;
    background-color: #FAFF00;
    border-radius: 28px;
    text-transform: uppercase;
    margin-top:83px;
    text-decoration: none;
    color:#000;
    margin-bottom:166px;
}
#aegis
{
    width:600px;
    height: 600px;
    padding: 0;
    margin: 0;    
    margin-top:56px;        
}
#serv
{
    margin-top: 107px;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 104px;
}
#boost
{
    margin-left: 60px;
    margin-right: 60px; 
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 600px;
}
#pboost
{
    text-align: center; 
    line-height: 1.5;
    font-size: 26px;
}
.serv_blocks
{
    width: 370px;
    height: 450px;
    border: 2px solid red;
    display: inline-block;
}